<link rel="stylesheet" href="home.css">
<link href="https://fonts.googleapis.com/css?family=Marck+Script&display=swap" rel="stylesheet">


<div id="about-section">
  <h2> About Us</h2>
  <img src="https://cdn.pixabay.com/photo/2016/11/29/10/09/bakery-1868925_1280.jpg" id='store-img'>
</div>
<h3>  Welcome to Basket Case  </h3>
<p> We are dedicated in creating tasty treats with extra the filling. </p>
<p> Created in back in 2000's we work hard to give our customers the sweet dersets that they love to eat the most!. </p>


<!-- <h4> Want A recipe? Search Here!</h4> -->
 <!-- <img src="https://cdn.pixabay.com/photo/2019/05/07/15/07/magnifying-glass-4186151_960_720.png" width="5.5%" id='glass'> -->

 <form action= '/home' method="POST">
    <img src="https://cdn.pixabay.com/photo/2019/05/07/15/07/magnifying-glass-4186151_960_720.png" width="5.5%" id='glass'>
   <input type="text" name="query" placeholder="Search..">
 </form>


<div class="box">
 <h2> <%= @data['title'] %> </h2>
</div>
