<link rel="stylesheet" href="home.css">
<link href="https://fonts.googleapis.com/css?family=Marck+Script&display=swap" rel="stylesheet">


<div id="about-section">
  <h2> About Us</h2>
  <img src="https://cdn.pixabay.com/photo/2016/11/29/10/09/bakery-1868925_1280.jpg" id='store-img'>
</div>
<h3> Welcome to Basket Case </h3>
<p> We are dedicated in creating tasty treats with extra the filling</p>
