<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Marck+Script&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
<h1> Extra Stuffed </h1>
<img src="http://www.free-icons-download.net/images/wedding-cake-icon-85617.png" id='logo'>

<hr>
<div id="container">


      <div id="home">
      <a href="#home">Home</a>
       </div>
       <div id="pastry">
      <a href="pastery">Pastry's</a>

      </div>
      <div id="info">

      <a href="refreshments"> Refreshment </a>
     </div>
  </div>

<div class="background">

</div>


  </body>
</html>
