<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Marck+Script&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
<h1> Basket Case </h1>
<img src="http://www.free-icons-download.net/images/wedding-cake-icon-85617.png" id='logo'>

<hr>
<div id="container">


      <div id="home">
      <a href=" home" class='link-line'>Home</a>
       </div>
       <div id="cookies">
      <a href="cookies" class="link-line">Cookies</a>

      </div>
      <div id="cake">

      <a href="cake" class="link-line"> Cakes </a>
     </div>
     <div id="muffin">
       <a href="muffin" class="link-line"> Muffin</a>
     </div>
  </div>
  <hr>
<%= yield %>


  </body>
</html>
