<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @eatThisCookie.name %>


    <%# <%= @eatthisCookie.price %>

  </body>
</html>
